<?xml version="1.0" encoding="utf-8"?>
<robot name="jetspider" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find jetspider_description)/urdf/materials.xacro"/>
    <xacro:include filename="$(find jetspider_description)/urdf/inertial_matrix.xacro" />

    <xacro:include filename="$(find jetspider_description)/urdf/base.urdf.xacro"/>
    <xacro:include filename="$(find jetspider_description)/urdf/lidar.urdf.xacro"/>
    <xacro:include filename="$(find jetspider_description)/urdf/imu.urdf.xacro"/>
    <xacro:include filename="$(find jetspider_description)/urdf/depth_camera.urdf.xacro"/>
    <xacro:include filename="$(find jetspider_description)/urdf/arm.urdf.xacro"/>
    <xacro:include filename="$(find jetspider_description)/urdf/gripper.urdf.xacro"/>    



</robot>